@import 'styles/component';
@import 'styles/mui';

body {
  font-family: Noto Sans, Roboto, sans-serif !important;
  font-size: 1rem;
  background-color: var(--color-primary-main);
}

code,
pre,
input[type='code'],
textarea[type='code'] {
  font-family: 'Inconsolata', monospace !important;
}

* {
  outline: none !important;
}

a:hover {
  text-decoration: none !important;
}

iframe {
  display: none !important;
}

:root {
  --color-primary-light: #c9de7b;
  --color-primary-main: #3b8f57;
  --color-primary-dark: #06371f;

  --color-secondary-light: #f7f8f8;
  --color-secondary-main: #f7f8f8;
  --color-secondary-dark: #f7f8f8;
}
